@inherits LayoutComponentBase

<div style="background-image: url('/images/background.jpg'); background-size: cover; background-position: center;">
    @Body

    <BlazorServerUIApp.Components.Common.LoadingComponent />
    <BlazorServerUIApp.Components.Common.PromptMessageComponent />
</div>