@inject NavigationManager _navigationManager

<style>
    .listHeader{
        margin-bottom: 15px;
    }
</style>

<div class="listHeader">
    <div class="row">
        <h3 class="heading mb-4">Student Management</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" id="txtSearch" aria-describedby="searchHere" placeholder="Search here..." @bind-value="searchText" />
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
            </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" @onclick="OnClick_Add">+ Add</button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead class="table-header">
            <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Full Name</th>
                <th scope="col">Class</th>
                <th scope="col">Section</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
           @*  @foreach (var student in Students)
            {
                <tr>
                    <td>@student.RollNo</td>
                    <td>@student.FullName</td>
                    <td>@student.Class</td>
                    <td>@student.Section</td>
                    <td>
                        <button class="btn btn-sm btn-info" @onclick="() => EditStudent(student.StudentId)">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteStudent(student.StudentId)">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            } *@
        </tbody>
    </table>
</div>
